body {
    font-family: Arial, sans-serif;
    background: #0961ba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 25px;
    width: 340px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background: #021049;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
}

button:hover {
    opacity: 0.9;
}

.msg {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: red;
}

/* ===== SENHA COM OLHO ===== */

.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.password-container input {
    padding-right: 45px;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    z-index: 10;
}